#additional-bar hr {
    width: 80%;
    height: 1px;
    border: 0;
    background-color: lightgray;
}

#channel-additional-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px 20px 20px;
    border-bottom: 1px solid lightgray;
    line-height: 130%;
}

#channel-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    line-height: 130%;
    word-spacing: 3px;
}

#channel-info {
    margin: 20px 20px 20px 25px;
    cursor: pointer;
}

#channels, #direct-messages {
    margin: 20px;
    cursor: pointer;
}

#chat {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-right: 1px solid lightgray;
}

    #chat hr {
        position: relative;
        top: -25px;
        height: 1px;
        margin: 0 0;
        border: 0;
        background-color: lightgray;
        z-index: -1;
    }

#circle {
    position: relative;
    bottom: 3px;
}

#circle-icon {
    width: 30px;
    height: 30px;
    padding-top: 10px;
    padding-left: 12px;
    border-radius: 50%;
    background-color: #FFF;
}

#close:hover {
    background-color: #A52A2A;
}

#grid {
    display: grid;
    grid-template-columns: 280px minmax(490px, 5fr) minmax(350px, 3fr);
    grid-template-rows: 45px 70px 1fr;
    height: 100%;
}

#help {
    margin-top: 10px;
    margin-right: 10px;
    padding-top: 5px;
    padding-left: 5px;
}

#info-icon {
    box-sizing: border-box;
    width: 35px;
    height: 35px;
    margin-right: 10px;
    padding: 7px;
    border-radius: 5px;
}

    #info-icon:hover {
        background-color: #F5F5F5;
        cursor: pointer;
    }

#menu {
    height: 240px;
    padding-top: 10px;
    border-bottom: 1px solid #6d4475;
}

#message-options {
    box-sizing: border-box;
    height: 49%;
    padding-top: 2px;
    border-top: 1px solid lightgray;
    background-color: #F8F8FF;
}

    #message-options .options-button:first-of-type {
        padding-left: 10px;
    }

    #message-options div:first-child div:first-child {
        margin-left: 4px;
    }

#new-message-icon {
    display: flex;
    grid-row: 1/3;
    align-items: center;
    justify-content: center;
}

#replies-number {
    display: flex;
    align-items: center;
    padding: 5px 20px;
    color: lightgray;
    font-size: 14px;
}

#reply-form, #message-form {
    height: 80px;
    margin: 10px 20px;
    border: 1px solid #000;
    border-radius: 5px;
}

#reply-form-checkbox {
    display: block;
    margin-top: 15px;
    font-size: 14px;
    cursor: pointer;
}

    #reply-form-checkbox input[type=checkbox] {
        background-color: blue;
        color: #FFF;
    }

#reply-options {
    box-sizing: border-box;
    height: 49%;
    padding-top: 3px;
    border-top: 1px solid lightgray;
    background-color: #F8F8FF;
}

    #reply-options div:first-child div:first-child {
        margin-left: 4px;
        padding-left: 10px;
    }

        #reply-options div:first-child div:first-child:hover, #message-options div:first-child div:first-child:hover {
            background-color: #4682B4;
        }

    #reply-options div:first-child, #message-options > div:first-of-type {
        float: left;
    }

    #reply-options div:last-child, #message-options > div:nth-of-type(2) {
        float: right;
    }

#search {
    position: relative;
    width: 500px;
    height: 20px;
    padding-top: 0;
    border: 1px solid #A9A9A9;
    background-color: var(--main-purple);
    color: var(--light-purple);
    font-size: 14px;
}

#search-icon {
    width: 20px;
    height: 20px;
    float: right;
}

#search:hover {
    border-color: #FFF;
    color: #FFF;
}

#show-less:hover i {
    color: #FFF;
}

#sidebar {
    background-color: var(--main-purple);
    color: var(--light-purple);
    font-size: 16px;
}

#star-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    padding-top: 2px;
    padding-left: 2px;
    border-radius: 5px;
}

#task2-menu-item {
    background-color: #4682B4;
    color: #FFF;
}

#times-icon {
    box-sizing: border-box;
    width: 35px;
    height: 35px;
    padding-top: 10px;
    padding-left: 12px;
    float: right;
    border-radius: 5px;
    cursor: pointer;
}

    #times-icon:hover, #star-icon:hover, .reply-message:hover, .message:hover {
        background-color: #F5F5F5;
    }

#title-bar {
    display: flex;
    grid-column: 1 / 4;
    align-items: center;
    justify-content: space-between;
    background-color: var(--dark-purple);
}

#user-menu {
    display: grid;
    grid-template: 1fr 1fr / 3fr 1fr;
    border-top: 1px solid #6d4475;
    border-bottom: 1px solid #6d4475;
    background-color: var(--main-purple);
    cursor: pointer;
}

    #user-menu:hover, .menu-item:hover {
        background-color: var(--dark-purple);
    }

#user-name {
    grid-row: 2/3;
    padding-left: 20px;
    color: #e2cfe6;
    font-size: 14px;
}

#workspace-name {
    grid-row: 1/2;
    padding-top: 10px;
    padding-left: 20px;
    color: #FFF;
    font-size: 18px;
}

.actions {
    position: absolute;
    top: -20px;
    right: 2px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: #FFF;
}

    .actions div:first-child, .actions div:nth-child(2), .actions-top div:first-child, .actions-top div:nth-child(2) {
        margin-right: 0;
    }

.actions-top {
    position: absolute;
    top: 2px;
    right: 2px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: #FFF;
}

.black-icon {
    color: #000;
}

.blue-hover:hover {
    color: #4682B4;
    cursor: pointer;
}

.blue-underline-hover:hover {
    color: #4682B4;
    text-decoration: underline;
    cursor: pointer;
}

.button {
    box-sizing: border-box;
    width: 45px;
    height: 45px;
    padding-top: 13px;
    padding-left: 15px;
}

.channel-name {
    padding-left: 30px;
}

.day {
    box-sizing: border-box;
    box-sizing: border-box;
    display: flex;
    display: inline-block;
    align-items: center;
    justify-content: center;
    height: 30px;
    margin: 10px auto;
    padding: 5px 10px;
    border: 1px solid lightgray;
    border-radius: 25px;
    background-color: #FFF;
    color: gray;
    font-size: 14px;
    cursor: pointer;
}

    .day b {
        margin-right: 3px;
    }

.direct-messages-menu-item .fa-times {
    margin-top: 3px;
    margin-right: 20px;
    float: right;
}

.edited {
    color: lightgray;
    font-size: 12px;
}

.fa-circle {
    color: #20B2AA;
    font-size: 10px;
}

.fa-edit {
    color: var(--dark-purple);
    font-size: 18px;
}

.fa-heart {
    color: #20B2AA;
}

.fa-info-circle {
    color: #000;
    font-size: 20px;
}

.fa-question-circle {
    font-size: 18px;
}

.hidden {
    display: none;
    visibility: hidden;
}

.highlighted, #show-less:hover, .icon-white, .direct-messages-menu-item .hidden:hover {
    color: #FFF;
}

.hover-underline:hover, .message > div > b:hover, .message > div > span:hover {
    text-decoration: underline;
    cursor: pointer;
}

.icon-gray {
    color: #A9A9A9;
}

.menu-icon {
    margin-right: 10px;
}

.menu-item {
    padding: 5px 5px 5px 30px;
    cursor: pointer;
}

.message {
    display: flex;
    position: relative;
    padding: 5px 20px;
    line-height: 1.4;
}

    .message > div > span {
        color: gray;
        font-size: 12px;
    }

.message-image {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.options-button {
    box-sizing: border-box;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 2px;
    padding-top: 5px;
    padding-left: 7px;
    border-radius: 5px;
    cursor: pointer;
}

    .options-button:not(.send-button):hover, #reply-options div:last-child .reply-options-icon:first-child, #message-options > div:nth-of-type(2) .message-options-icon:first-child, .message-options-icon:hover {
        background-color: lightgray;
    }

.plus-icon {
    box-sizing: border-box;
    position: relative;
    bottom: 5px;
    width: 30px;
    height: 30px;
    padding-top: 5px;
    padding-left: 8px;
    float: right;
    border-radius: 5px;
}

.replies {
    display: flex;
    align-items: center;
    width: 90%;
    height: 35px;
    padding-left: 1px;
}

    .replies b {
        margin: 5px;
        color: #4682B4;
        font-size: 14px;
    }

    .replies i {
        margin-right: 10px;
        margin-left: auto;
    }

    .replies img {
        width: 25px;
        height: 25px;
        margin: 2px;
        border-radius: 3px;
    }

    .replies span {
        color: gray;
        font-size: 14px;
    }

    .replies:hover {
        box-sizing: border-box;
        border: 1px solid lightgray;
        border-radius: 5px;
        background-color: #FFF;
        cursor: pointer;
    }

        .replies:hover span:first-of-type {
            display: none;
        }

.reply-message {
    display: flex;
    position: relative;
    padding: 10px 20px;
    line-height: 1.4;
}

    .reply-message b, .reply-message span {
        cursor: pointer;
    }

        .reply-message b:hover, .reply-message span:hover, .replies b:hover {
            text-decoration: underline;
        }

    .reply-message span {
        color: #A9A9A9;
        font-size: 12px;
    }

    .reply-message:first-of-type {
        padding-top: 20px;
    }

    .reply-message:hover .actions, .reply-message:hover .actions-top, .direct-messages-menu-item:hover .hidden, .message:hover .actions, .replies:hover .hidden {
        display: initial;
        visibility: visible;
    }

.send-button {
    margin-right: 4px;
    padding-left: 10px;
    background-color: #006400;
}

.small-gray-text {
    color: #A9A9A9;
    font-size: 14px;
}

.title-bar-item {
    display: inline-block;
}

.title-bar-item-small {
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    padding-top: 5px;
    padding-left: 6px;
    border-radius: 5px;
    cursor: pointer;
}

.title-bar-item:hover, .plus-icon:hover {
    background-color: var(--hover-purple);
}

body {
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    --dark-purple: #320436;
    --hover-purple: #6b426e;
    --light-purple: #c0abc2;
    --main-purple: #430647;
    height: 100%;
}

i {
    color: #e2cfe6;
}

textarea {
    box-sizing: border-box;
    width: 100%;
    height: 45%;
    padding: 10px;
    overflow: hidden;
    border: initial;
    outline: none;
    font-family: inherit;
    font-size: 16px;
    resize: initial;
}
